<div class="wrapper w-screen flex flex-col bg-[#1A2428] mb-6">
    <div class=" mb-2 md:w-[400px] w-11/12 mx-auto z-10 text-white text-xs flex justify-around">
        <a class="cursor-pointer" href="https://twitter.com/lukeheary" target="_blank" >Contact</a>
        <div class="cursor-pointer" (click)='toggleComponents("legal")'>Legal Notice</div>
        <div class="cursor-pointer" (click)='toggleComponents("privacy")'>Privacy</div>
        <div class="cursor-pointer" (click)='toggleComponents("terms")'>Terms</div>
    </div>
</div>