<div class="wrapper w-screen flex flex-col bg-[#1A2428]">
    <div class="text-white w-full h-16 relative flex mt-4">
        <div class="" (click)="toggleHome()">
            <img src = 'assets/logo.png' class="absolute sm:h-10 h-8 mt-4 sm:ml-8 ml-6 cursor-pointer"/>
        </div>
    
        <div class="float-right sm:block flex flex-col mr-0 ml-auto mb-0 sm:my-auto sm:mt-6 mt-3 sm:pr-10 sm:text-lg text-xs">
            <a href="https://www.buymeacoffee.com/lukeheary" class="header-link" target="_blank" (click)="support()">
                Support
            </a>
            <a href="https://twitter.com/lukeheary" class="header-link" target="_blank"  (click)="contact()">
                Contact
            </a>
        </div>
    </div>
<!--     
    <div class="mt-10 z-20 sm:hidden w-full flex justify-center hidden">
        <a href="https://twitter.com/lukeheary" class="header-link" target="_blank"  (click)="contact()">
            Contact
        </a>
        <a href="https://billing.apexminecrafthosting.com/aff.php?aff=10545" class="header-link" target="_blank" (click)="server()">
            Need a Server?
        </a>
    </div> -->
</div>
