<div class="wrapper w-screen flex flex-col bg-[#1A2428]">
    <div class="text-white w-full h-16 relative flex">
        <div class="w-72" (click)="toggleHome()">
            <img src = 'assets/logo.png' class="absolute h-10 mt-6 ml-8 cursor-pointer"/>
        </div>
    
        <div class="float-right hidden md:block mr-0 ml-auto mb-0 md:mt-auto mt-20 pr-10">
            <a href="https://twitter.com/lukeheary" class="header-link" target="_blank"  (click)="contact()">
                Contact
            </a>
            <!-- <a href="https://buymeacoffee.com/lukeheary" class="header-link" target="_blank" (click)="support()">
                Support
            </a> -->
            <a href="https://billing.apexminecrafthosting.com/aff.php?aff=10545" class="header-link" target="_blank" (click)="server()">
                Need a Server?
            </a>
        </div>
    </div>
    
    <div class="mt-10 z-20 md:hidden w-full flex justify-center">
        <a href="https://twitter.com/lukeheary" class="header-link" target="_blank"  (click)="contact()">
            Contact
        </a>
        <!-- <a href="https://buymeacoffee.com/lukeheary" class="header-link" target="_blank" (click)="support()">
            Support
        </a> -->
        <a href="https://billing.apexminecrafthosting.com/aff.php?aff=10545" class="header-link" target="_blank" (click)="server()">
            Need a Server?
        </a>
    </div>
</div>
