<div id='privacy' class="wrapper w-screen flex flex-col bg-[#1A2428] mb-10 hidden">
    <div class="studio mb-6 md:mt-16 md:w-[800px] w-11/12 mx-auto relative md:flex-row shadow-2xl bg-[#C6C6C6] z-10 border-4 border-white border-b-gray-700 border-r-gray-700 p-6">

        <div class="font-bold text-xl mb-4">Privacy Policy</div>
        This privacy policy describes how we collect, use, and protect your personal information when you visit our website. By using our website, you consent to the terms of this Privacy Policy. We reserve the right to modify this Privacy Policy at any time and will post any changes on this page.
        <br><br>

        When you visit our website, we may collect non-personal information such as your IP address, browser type, and operating system.
        <br><br>

        <div class="font-bold">Cookies</div>
        We may use cookies to collect information about your use of our website. Cookies are small files that a website or its service provider transfers to your computer's hard drive through your web browser (if you allow) that enables the website or service provider's systems to recognize your browser and capture and remember certain information.
        <br><br>

        <div class="font-bold">Use of Information</div>
        We may use the personal information that we collect to provide you with information about our products and services. We may also use the information to improve our website, respond to your requests and inquiries, and provide customer service. We may also use the information to comply with applicable laws, regulations, and legal processes.
        <br><br>

        <div class="font-bold">Disclosure of Information</div>
        We may disclose personal information to third-party service providers who perform services on our behalf, such as website hosting, data analysis, and customer service. We may also disclose information if required to do so by law or in response to a subpoena or court order.
        <br><br>

        <div class="font-bold">Google Analytics</div>
        We use this to understand how the site is being used in order to improve the user experience. User data is all anonymous. You can find out more about Google’s position on privacy as regards its analytics service at https://policies.google.com/technologies/partner-sites
        <br><br>

        <div class="font-bold">Security</div>
        We take reasonable measures to protect your personal information from unauthorized access, use, disclosure, or loss. However, we cannot guarantee the security of your information transmitted through the internet, and you use our website at your own risk.
        <br><br>

        <div class="font-bold">Links to Other Websites</div>
        Our website may contain links to other websites. We are not responsible for the privacy practices or the content of those websites. We encourage you to review the privacy policies of those websites before providing any personal information.
        <br><br>

        <div class="font-bold">Contact Us</div>
        If you have any questions about this Privacy Policy or our practices regarding your personal information, please contact us at on Twitter @lukeheary.    
    </div>
</div>