
<img src = 'assets/background.png' class="w-full z-0 fixed h-full bg-cover bg-black brightness-[0.20]"/>

<div>
  <app-header class="z-20"></app-header>
  <app-studio class="z-20"></app-studio>

    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-3834753388277526"
        crossorigin="anonymous"></script>
    <!-- Divider -->
    <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-3834753388277526"
        data-ad-slot="7362590866"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
    <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
  
  <app-table class="z-10"></app-table>

  <app-privacy class="z-10"></app-privacy>
  <app-legal class="z-10"></app-legal>
  <app-terms class="z-10"></app-terms>

  <app-footer class="z-10 bottom-0 mb-0"></app-footer>
</div>
