<div id="wrapper" class="h-screen w-screen flex">
    <div id="studio" class="h-4/5 w-[1100px] mx-auto my-auto bg-blue-400 flex">
        <div id="image" class="bg-green-400 h-full w-1/2">

        </div>
        <div id="options" class="bg-green-100 h-full w-1/2">
            <div id="optionsContainer" class="flex flex-col h-full justify-around">

                <div id="headOptionsContainer">
                    <div>Helmet</div>
                    <div id="headOptions" class="bg-blue-200 w-full inline-flex justify-around">
                        <div class="h-32 w-24 bg-white">
                            <div id="image" class="bg-red-500 h-24 w-24">

                            </div>
                            <div id="name" class="h-8 my-auto justify-center align-middle text-red-400 text-center text-sm">
                                Coast

                            </div>
    
                        </div>
                        <div class="h-32 w-24 bg-white">
    
                        </div>
                        <div class="h-32 w-24 bg-white">
    
                        </div>
                    </div>
                </div>

                <div id="headOptionsContainer">
                    <div>Chestplate</div>
                    <div id="headOptions" class="bg-blue-200 w-full inline-flex justify-around">
                        <div class="h-32 w-24 bg-white">
    
                        </div>
                        <div class="h-32 w-24 bg-white">
    
                        </div>
                        <div class="h-32 w-24 bg-white">
    
                        </div>
                    </div>
                </div>

                <div id="headOptionsContainer">
                    <div>Leggings</div>
                    <div id="headOptions" class="bg-blue-200 w-full inline-flex justify-around">
                        <div class="h-32 w-24 bg-white">
    
                        </div>
                        <div class="h-32 w-24 bg-white">
    
                        </div>
                        <div class="h-32 w-24 bg-white">
    
                        </div>
                    </div>
                </div>

                <div id="headOptionsContainer">
                    <div>Boots</div>
                    <div id="headOptions" class="bg-blue-200 w-full inline-flex justify-around">
                        <div class="h-32 w-24 bg-white">
    
                        </div>
                        <div class="h-32 w-24 bg-white">
    
                        </div>
                        <div class="h-32 w-24 bg-white">
    
                        </div>
                    </div>
                </div>



            </div>

        </div>
    </div>
</div>