<div id='legal' class="wrapper w-screen flex flex-col bg-[#1A2428] mb-10 hidden">
    <div class="studio mb-6 md:mt-16 md:w-[800px] w-11/12 mx-auto relative md:flex-row shadow-2xl bg-[#C6C6C6] z-10 border-4 border-white border-b-gray-700 border-r-gray-700 p-6">

        <div class="font-bold text-xl mb-4">Legal Notice</div>
        This Legal Notice governs your use of this website. By accessing and using this website, you agree to be bound by the terms and conditions of this Legal Notice. If you do not agree to the terms and conditions of this Legal Notice, do not access or use this website.
        <br><br>

        <div class="font-bold">Ownership</div>
        This website is owned and operated by Luke Heary. All content and materials on this website are the property of Luke Heary or its licensors and are protected by copyright, trademark, and other intellectual property laws.
        <br><br>

        <div class="font-bold">Use of Website</div>
        You may use this website for lawful purposes only. You may not use this website for any illegal or unauthorized purpose. You may not use this website in any manner that could damage, disable, overburden, or impair this website or interfere with any other party's use and enjoyment of this website. You may not attempt to gain unauthorized access to this website, other accounts, computer systems or networks connected to this website, through hacking, password mining, or any other means.
        <br><br>

        <div class="font-bold">Disclaimer of Warranties</div>
        This website is provided on an "as is" and "as available" basis. Luke Heary makes no representations or warranties of any kind, express or implied, as to the operation of this website or the information, content, materials, or products included on this website. To the fullest extent permissible by applicable law, Luke Heary disclaims all warranties, express or implied, including but not limited to implied warranties of merchantability and fitness for a particular purpose.
        <br><br>
        
        In no event shall Luke Heary be liable for any direct, indirect, incidental, special, or consequential damages arising out of or in connection with the use of or inability to use this website, even if Luke Heary has been advised of the possibility of such damages.
        <br><br>

        <div class="font-bold">Modification</div>
        Luke Heary reserves the right to modify this Legal Notice at any time without prior notice. By accessing and using this website, you agree to be bound by the terms and conditions of the Legal Notice as modified from time to time.
        <br><br>

        <div class="font-bold">Contact Us</div>
        If you have any questions about this Legal Notice or our practices regarding this website, please contact us on Twitter @lukeheary.
    </div>
</div>